<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css">
    <title>To Do App</title>
  </head>
  
  <body>

    <form action="/" method="get">
      <input type="submit" value="Today" />
    </form>
    <form action="/work" method="get">
      <input type="submit" value="Work" />
    </form>