<%- include("partials/header.ejs") %>

  <h2>To Do List</h2>

  <form action="/" method="post">
    <label for="taskDay">Please enter the task:</label><br />
    <input type="text" id="taskDay" name="taskDay" required />
    <input type="submit" value="ADD" />
  </form>

  <ul>
    <% for (var i=0; i<addedTaskDay.length; i++) { %>
      <li>
        <input type="checkbox" name="checkbox">
        <%= addedTaskDay[i]; %>
      </li>
      <% } %>
  </ul>


  <script>
    /*THIS WORKS BY CLICKING THE TEXT*/
    /*var checkbox = document.querySelector("ul");
     checkbox.addEventListener('click', function(event) {
       if (event.target.tagName === 'LI') {
         event.target.classList.toggle('checked');
       }
     });*/

    /*THIS IS STILL IN PROGRESS*/
    var checkBoxesList = document.querySelectorAll("ul > li > input[name=checkbox]");

    // using array forEach
    // checkBoxesList.forEach((checkbox) => {
    //   checkBox.addEventListener('click', (event) => {
    //     if (event.target.tagName === 'INPUT') {
    //       checkBox.parentElement.classList.toggle("checked")
    //     }
    //   })
    // })

    for (var i = 0; i < checkBoxesList.length; i++) {
      var checkBox = checkBoxesList[i]
      checkBox.addEventListener('click', (event) => {
        if (event.target.tagName === 'INPUT') {
          checkBox.parentElement.classList.toggle("checked")
        }
      })
    }

  </script>


  <%- include("partials/footer.ejs") %>